body {
  font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}
#navbar, div.container-fluid {
--bs-bg-opacity: 1;
background-color: pink;

}
a.nav-link{
  color:white;
}
a.nav-link:hover {
  color:hotpink;

}
.btn-success {
  background-color: hotpink;
  border-color: white;
}
.btn-success:hover {
  background-color:deeppink;
}


